ion-tab-bar {
    background: linear-gradient(to right, var(--ion-color-primary), var(--ion-color-secondary));

    ion-tab-button {
        --color: var(--ion-color-dark);
        --color-selected: var(--ion-color-light) !important;
        
        background: inherit;

        ion-img {
            background-size: contain;
            width: 40px;
            height: 40px;
        }
        
        ion-img.user{
            width: 30px;
            height: 30px;
        }
    }
}

ion-tab-button.tab-selected {
    background: linear-gradient(to left, var(--ion-color-primary-tint), var(--ion-color-secondary-tint)) !important;
    border-radius: 60px;

    ion-img {
        margin-right: 4px;
        background-size: contain;
        width: 30px;
        height: 30px;
    }

    ion-img.map{
        content: url('../../../assets/icon/mapSelected.png');
    }

    ion-img.stops-lines{
        content: url('../../../assets/icon/busSelected.png');
    }

    ion-img.user{
        width: 20px;
        height: 20px;
        content: url('../../../assets/icon/usuarioSelected.png');
    }
}