<ion-tabs #tabs (ionTabsDidChange)="setCurrentTab($event)">
  <ion-tab-bar slot="bottom">

    <ion-tab-button tab="mapa" layout="icon-start">
      <ion-img class="map" src="../../../assets/icon/laberinto.png"></ion-img>
      <ion-label *ngIf="selectedTab == 'mapa'">Mapa</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="paradas-lineas" layout="icon-start">
      <ion-img class="stops-lines" src="../../../assets/icon/robot.png"> </ion-img>
      <ion-label *ngIf="selectedTab == 'paradas-lineas'">Paradas y Lineas</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="inicio-sesion" layout="icon-start">
      <ion-img class="user" src="../../../assets/icon/usuario.png"> </ion-img>
      <ion-label *ngIf="selectedTab == 'inicio-sesion'">Usuario</ion-label>
    </ion-tab-button>
  </ion-tab-bar>

</ion-tabs>