ion-tab-bar {
    display: flex;
    width: 100%;

    /* Fondo de degradado para ion-tab-bar */
    background: linear-gradient(to right, var(--ion-color-primary), var(--ion-color-secondary));

    /* Ajustes de color para el tab bar */
    --color-selected: rgb(136, 0, 21); /* Color de la pestaña activa */
    --color: var(--ion-color-dark); /* Color del texto de las pestañas */

    ion-tab-button {
        flex: 1; /* Distribuye el ancho de los ion-tab-button de manera uniforme dentro del ion-tab-bar */
        max-width: 100%;
        background-color: transparent;
        text-align: center; /* Centra el contenido dentro de cada ion-tab-button */

        ion-img {
            background-size: contain;
            width: 24px;
            height: 24px;
        }
    }
}
ion-tab-button.tab-selected ion-img.maze,
ion-tab-button:hover ion-img.maze{
    content: url('../../assets/icon/laberintoSeLected.png');
}

ion-tab-button.tab-selected ion-img.robot,
ion-tab-button:hover ion-img.robot{
    content: url('../../assets/icon/robotSeLected.png');
}

ion-tab-button.tab-selected ion-img.user,
ion-tab-button:hover ion-img.user{
    content: url('../../assets/icon/usuarioSeLected.png');
}