<app-header [title]="'Inicio Sesion'"></app-header>

<ion-content [fullscreen]="true" class="ion-padding">

    <div class="center-content">  
  
      <form [formGroup]="loginForm" class="ion-margin-top ion-padding">
        <ion-item lines="none">
            <ion-input
            label="Correo electrónico"
            labelPlacement="floating"
            formControlName="email"
            type="email"
            name="email"
            id="email"
            placeholder="email@gmail.com"
            [errorText]="formError('email')"
            >
            </ion-input>
        </ion-item>
  
        <ion-item lines="none">
            <ion-input 
            label="Contraseña"
            labelPlacement="floating"
            formControlName="password"
            type="password"
            name="password"
            id="password"
            placeholder="1234567"
            [errorText]="formError('password')"
            >
            </ion-input>
        </ion-item>
      
      </form>
  
      <ion-button 
        class="ion-padding ion-text-center" 
        expand="block" 
        type="button"
        [disabled]="!loginForm.valid">
        <ion-icon name="log-in-outline"></ion-icon>
        {{btnText}}
      </ion-button>
      

      <div class="ion-text-center">
        <p>Si no posees cuenta, puedes registrarte</p>
        <ion-text>Crear una cuenta nueva</ion-text>
      </div>
      
    </div>
  </ion-content>