<app-header [title]="'Usuario'"></app-header>

<ion-content>

  <div class="center-content ion-margin-top ion-padding">
    <ion-list *ngIf="user || business" lines="full">

      <ion-item>
        <ion-img class="usuarioImage" src="../../assets/UsuarioImage.png"> </ion-img>
        <div class="usuarioDetails">
          <ion-label>Nombre de Usuario:</ion-label>
          <ion-label>{{ user ? user.username : business.username}}</ion-label>
        </div>
      </ion-item>

      <ion-item>
        <div class="usuarioDetails">
          <ion-label>Nombre:</ion-label>
          <ion-label>{{ user ? user.nameperson : business.nameperson }}</ion-label>
        </div>
      </ion-item>

      <ion-item>
        <div class="usuarioDetails">
          <ion-label>Email:</ion-label>
          <ion-label>{{ user ? user.email : business.email }}</ion-label>
        </div>
      </ion-item>

      <!-- Mostrar estos elementos solo cuando el usuario es un BusinessPerson -->
      <ion-item *ngIf="business">
        <div class="usuarioDetails">
          <ion-label>Rut:</ion-label>
          <ion-label>{{ business.rutPerson }}</ion-label>
        </div>
      </ion-item>

      <ion-item *ngIf="business">
        <div class="usuarioDetails">
          <ion-label>Nombre Compañia:</ion-label>
          <ion-label>{{ business.nameCompany }}</ion-label>
        </div>
      </ion-item>
      
      <ion-item *ngIf="business">
        <div class="usuarioDetails">
          <ion-label>Rut Compañia:</ion-label>
          <ion-label>{{ business.rutCompany }}</ion-label>
        </div>
      </ion-item>

      <!-- Mostrar este elemento cuando el usuario tiene permisos de administrador -->
      <ion-item *ngIf="user?.isAdmin || business?.isAdmin">
        <div class="usuarioDetails">
          <ion-label>Premisos de Administrador:</ion-label>
          <ion-label>{{ 'Posee' }}</ion-label>
        </div>
      </ion-item>
    
    </ion-list>
    
    <!-- Botón de Cerrar Sesión -->
    <ion-button (click)="logout()" class="out-button ion-padding ion-text-center" expand="block" type="button">
      <ion-icon name="log-out-outline"></ion-icon>
      Cerrar Sesión
    </ion-button>

    <!-- Botón de Suscripción -->
    <ion-button (click)="suscribe()" class="ion-margin-top ion-padding ion-text-center" expand="block"
      *ngIf="!user?.isSubscribed && !business?.isSubscribed">
      <ion-icon name="add-circle-outline"></ion-icon>
      Suscribirse
    </ion-button>

    <!-- Botón de Ver Reportes, visible solo para BusinessPerson -->
    <ion-button (click)="viewReports()" class="ion-margin-top ion-padding ion-text-center" expand="block"
      *ngIf="business">
      <ion-icon name="document-text-outline"></ion-icon>
      Ver Reportes
    </ion-button>

  </div>

</ion-content>
