.center-content {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    max-height: 80%;
    flex-direction: column; /* To align items vertically */
}

ion-button {
    margin-bottom: 40px;
}

ion-list {
    --background: linear-gradient(to right, var(--ion-color-primary), var(--ion-color-secondary));
    --color: white; /* Define el color de texto de ion-list */
    --border-color: var(--ion-color-dark);
    background-color: var(--ion-color-tertiary);
    padding: auto;
    max-height: 60%;

    ion-item {
        --background: inherit; /* Cambia el color de fondo de ion-item */
        --color: inherit;
        --border-color: inherit;
    }
      
    ion-item::part(checkbox) {
        --background: inherit; /* Cambia el color de fondo del checkbox en ion-item */
        --color: inherit;
        --border-color: inherit;
    }
      
    ion-item ion-label {
        --background: inherit; /* Hereda el color de fondo de ion-list */
        --color: inherit;
        --border-color: inherit;
    }
}

ion-img.usuarioImage {
    background-size: contain;
    margin-right: 10px;
    width: 30%;
    height: auto;
}
  
div.usuarioDetails {
    display: flex;
    flex-direction: column;
    margin-left: 10px;
}
  
div.usuarioDetails ion-label:first-child {
    font-weight: bold;
}