<app-header [title]="'Inicio Sesión'"></app-header>

<ion-content [fullscreen]="true" class="ion-padding">

    <div class="center-content">  
  
      <form [formGroup]="loginForm" class="ion-margin-top ion-padding">
        <ion-item lines="none">
            <ion-input
            label="Correo electrónico"
            labelPlacement="floating"
            formControlName="email"
            type="email"
            placeholder="email@gmail.com"
            [errorText]="formError('email')"
            >
            </ion-input>
        </ion-item>
  
        <ion-item lines="none">
            <ion-input 
            label="Contraseña"
            labelPlacement="floating"
            formControlName="password"
            type="password"
            placeholder="1234567"
            [errorText]="formError('password')"
            >
            </ion-input>
        </ion-item>
      
      </form>
  
      <ion-button (click)="login()"
        class="ion-padding"
        expand="block" 
        type="button"
        [disabled]="!loginForm.valid">
        <ion-icon name="log-in-outline"></ion-icon>
        Iniciar Sesión
      </ion-button>
      

      <div class="ion-text-center">
        <p>Si no posees cuenta, puedes registrarte</p>
        <ion-text (click)="goToRegister()">Crear una cuenta nueva</ion-text>
      </div>
      
    </div>
  </ion-content>